# ------------------------------------------------------------
# 1. AMBIENTES VIRTUAIS
# ------------------------------------------------------------
venv/
.env/
env/
bin/

*.csv

# ------------------------------------------------------------
# 2. CACHE E LOGS
# Arquivos gerados automaticamente pelo Python e Sistema
# ------------------------------------------------------------
__pycache__/
*.py[cod]
*.log
.DS_Store
Thumbs.db
